# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/

# OS files
.DS_Store
Thumbs.db

# IDE/Editor files
.idea/
.vscode/
*.swp
*.swo

# Log and backup files
*.log
*.bak

# Build output
build/
dist/

# Dependency directories
node_modules/
lambda-layer/

# code for lambda
lambda_deployment_code/
lambda_layer.zip
lambda_deployment_code.zip